body {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium';
}
#main {
    text-align: center;
    width: 70%;
    float: left;
}
#lista {
    text-align: center;
    width: 30%;
    float: left;
}
h3 {
    text-align: center;
}